<!DOCTYPE html>
<html ng-app = "chatApp">
<head>
    <title>CodeChat Signup</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet" type = "text/css" href = "bootstrap/css/bootstrap.min.css"/>
    <link rel = "stylesheet" type = "text/css" href = "css/main_page.css"/>

    <script src = "js/jquery-1.9.1.js"/></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src = "bootstrap/js/bootstrap.min.js"/></script>
    <script src = "angular/app.js"></script>
    <script src = "angular/directives/html_directives.js"></script>
    <script src = "angular/controllers/controllers.js"></script>

</head>
    <body> 
        <navbar-logged-out></navbar-logged-out>
        <br><br><br><br>
        <signup-box></signup-box>
		<div style = "padding-bottom: 50px">
        </div>
        <bottom-footer></bottom-footer>
    </body>
</html>