<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet" type = "text/css" href = "bootstrap/css/bootstrap.min.css"/>
    <link rel = "stylesheet" type = "text/css" href = "css/main_page.css"/>

    <script src = "js/jquery-1.9.1.js"/></script>
    <script src = "js/search.js"/></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src = "bootstrap/js/bootstrap.min.js"/></script>


</head>
<body>
  <input type = "text" placeholder = "First Name" name = "firstname"/>
  <input type = "text" placeholder = "Last Name" name = "lastname"/>
  <button id = "search">Search</button>
</body>
</html>