<div class = "background top-buffer-125">
    <div class = "container">
        <div class = "row text-left ">
            <div class = "col-md-5 top-buffer-75">
                <div class = "top-buffer front-page-header" style = "color: white;font-size:36px">
                    A simple chat application with a new and innovative way to interact 
                </div>
                <div class = "top-buffer description">CodeChat provides you with the ability to chat normally, while inputting special interactive commands. Look to have fun and be productive with event lists, decision makers, and group chats.
                </div>
            </div>
            <div class = "col-md-5 col-md-offset-2 top-buffer-75">
                <div class = "top-buffer front-page-header" style = "color: white;font-size:36px">
                    Bringing you a convenient way to share code and collaborate
                </div>
                <div class = "top-buffer description">With CodeChat you have the flexibility of sending and receiving formatted code directly in chat, without sending files. It's quick and simple to share code without the hassle of looking through plain text. 
                </div>
            </div>
        </div>

    </div>
</div>