<div class = "container">
    <div class = "row text-center">
        <img src = "img/chat-icon.png" height = "80px">
        <div class = "top-buffer front-page-header">CodeChat</div>
        <div class = "top-buffer" style = "font-size:16px">Sign in to CodeChat to get started.</div>
    </div>
    
    <form action="/login" method="POST">
        <div class = "row text-center">
                <div class = "col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 form-group top-buffer-25">
                    <input type = "text" name="username" class = "form-control input-md-lg" id = "username" placeholder = "Username">
                </div>
                <div class = "col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 form-group">
                    <input type = "password" name="password" class = "form-control input-md-lg" id = "password" placeholder = "Password">
                </div>
            
        </div>
        <div class = "row text-center">
            <input type="submit" class="btn signin-button" value="Sign In">
        </div>
    </form>
    
    <div class = "row text-center">
        <p style = "font-size: 13px" class = "top-buffer">Don't have an account? Signup <a href = "/signup">here</a>.</p>
    </div>
    <div class = "row"></div>
</div>