
<div class = "row text-center top-buffer-75">
    <div class = "front-page-header">Primary Features</div>
    <div class = "col-md-offset-0 col-md-4 top-buffer-75">
        <img src = "../img/code.png" class = "large-icon">
        <div class = "large-icon-description">Code</div>
    </div>
    <div class = "col-md-4 top-buffer-75">
        <img src = "../img/chat-icon2.png" class = "large-icon">
        <div class = "large-icon-description"> Chat</div>
    </div>
    <div class = "col-md-4 top-buffer-75">
        <img src = "../img/command.png" style = "position:relative; top: -10px" height = "180 px">
        <div class = "large-icon-description" style = "position:relative; top: -55px "> Interact</div>
    </div>
</div>
