<div class = "row text-center">
    <div class = "front-page-header top-buffer-50" style = "font-size:24px">Other Features</div>
    <div class = "col-md-offset-2 col-md-3 top-buffer-25">
        <img src = "../img/color2.png" class = "small-icon">
        <div class = "small-icon-description">Color Schemes</div>
    </div>
    <div class = "col-md-2 top-buffer-25">
        <img src = "../img/group.png" class = "small-icon">
        <div class = "small-icon-description"> Group Chat</div>
    </div>
    <div class = "col-md-3 top-buffer-25">
        <img src = "../img/profile.png" class = "small-icon">
        <div class = "small-icon-description">Profiles & Bios</div>
    </div>

</div>