<div class = "container">
    <div class = "row text-center">
        <img src = "img/chat-icon.png" height = "80px">
    </div>
    <div class = "row text-center">

        <div class = "col-md-6 col-md-offset-3">
            
            <div class = "top-buffer-25 front-page-header" style = "font-size:32px">Welcome to CodeChat, <%= user.firstName %>! Click your name in the top navbar to begin your chatting experience. 
            </div>
        </div>
    </div>

</div>